body {
  padding-top: 2em;
  font-family: sans-serif;
}

.navbar {
  background: #333;
  border-bottom: 1px solid #222;
}

.navbar li {
  list-style-type: none;  
}

.navbar a {
  color: #999;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 1000;
  margin: 0;
  padding-top: .3em;
  padding-bottom: .3em;
  left: 0; right: 0;
  top: 0;
}

