body {
  padding-top: 3em;
  font-family: sans-serif;
}

.navbar {
  padding-left: .5em;
  background: #fff;
}

.navbar li {
  list-style-type: none;  
}

.navbar a {
  font-size: 1.2em;
  color: #999;
  text-decoration: none;
}

.navbar a:hover {
  color: #000;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 1000;
  margin: 0;
  padding-top: 1em;
  padding-bottom: .3em;
  left: 0; right: 0;
  top: 0;
}

h1 {
  font-size: 1em;
}
